**BDAT1004 - Problem Set 2   
MANYUE JAVVADI 200575638**

# Question 1
<font color="#FF0000">
    
***
Consider the following Python module:

a = 0

def b():

global a

a = c(a)
 
def c(a):

 return a + 2
 
After importing the module into the interpreter, you execute:

b()
b()
b()
a
?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement
***
    
</font>

In [1]:
# This statement initializes a global variable a with the value 0.
a = 0 

def b():
    global a   # This statement declares that the variable "a" being referenced inside the function b() is a global variable
    a = c(a)
    
def c(a):
    return a + 2  #  This statement returns the value of a incremented by 2.

In [2]:
# let's see what happens when the function b() is called three times:
print(b())      # 'a' is initially 0, 'c(0)' returns 2, so 'a' is updated to 2

# let's Call the function 'b' for the second time
print(b())      # 'a' is now 2, 'c(2)' returns 4, so 'a' is updated to 4

# let's  Call the function 'b' for the third time
print(b())      # 'a' is now 4, 'c(4)' returns 6, so 'a' is updated to 6

# Evaluate the expression 'a' (display the value of 'a')
print(a)

# why we are getting None ?
# becuase our function returns nothing so it just give None.

None
None
None
6

# Question 2
<font color="#FF0000">
    
***
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

fileLength('midterm.py')
284

fileLength('idterm.py')
Traceback (most recent call last): File "<pyshell#34>", line 1, in

fileLength('idterm.py')

File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

fileLength('midterm.py')
358

fileLength('idterm.py')
File idterm.py not found.
***
    
</font>

In [3]:
def fileLength(file_name):
    try:
        with open(file_name, 'r') as file:
            contents = file.read()      # Read the contents of the file.
            print(len(contents))       
    except FileNotFoundError:
        # handl's the FileNotFoundError exception.
        print(f"File {file_name} not found.")
    except:
        # handle's it with a generic error message.
        print(f"An error occurred while reading {file_name}.")

# Test cases 
fileLength(r'D:\Users\manyue\Downloads\Filelength.txt')# Testing with a file that exists
fileLength(r'D:\Users\manyue\DataProgramming\bloodtype1.txt')
fileLength('idterm.py')    # Testing with a file that doesn't exist

123
102
File idterm.py not found.

# Question 3
<font color="#FF0000">
    
***
Write a class named Marsupial that can be used as shown below:

m = Marsupial()   
m.put_in_pouch('doll')   
m.put_in_pouch('firetruck')   
m.put_in_pouch('kitten')   
m.pouch_contents()   
['doll', 'firetruck', 'kitten']    

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and

c. overloads the str operator so it behaves as shown below.

k = Kangaroo(0,0)
print(k)
I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
['doll', 'firetruck', 'kitten']

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)
I am a Kangaroo located at coordinates (3,0)
***
    
</font>

In [4]:
class Marsupial:
    def __init__(self):
        self.pouch = []      # Initialize an empty list 'pouch' to store items carried by the marsupial.
    
    # Method to put an 'item' in the pouch.
    def put_in_pouch(self, item):
        self.pouch.append(item)  # Add the 'item' to the pouch list.
    
    # Method to get the contents of the pouch.
    def pouch_contents(self):
        return self.pouch  # Return the contents of the pouch.

# Define a subclass 'Kangaroo' that inherits from 'Marsupial'
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        # Call the constructor of the base class 'Marsupial'
        super().__init__()
        # Initialize 'x' and 'y' coordinates to represent the Kangaroo's location.
        self.x = x
        self.y = y
    
    # Method for the Kangaroo to jump by adjusting 'x' and 'y' coordinates.
    def jump(self, dx, dy):
        self.x += dx  # Adjust the 'x' coordinate by adding 'dx'.
        self.y += dy  # Adjust the 'y' coordinate by adding 'dy'.
    
    # Define a custom string representation for Kangaroo objects.
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [5]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruch')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruch', 'kitten']

In [6]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [7]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruch')
k.put_in_pouch('kitten')
print(k.pouch_contents())

['doll', 'firetruch', 'kitten']

In [8]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4
<font color="#FF0000">
    
***
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = {洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬 Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops

collatz(1)
1

collatz(10)
10 5 16 8 4 2 1  
***
    
</font>

In [9]:
def collatz(x):
    print(x)  # Print the current value of 'x'.
    if x == 1:  # Check if 'x' has reached the base case (1), and if so, terminate the function.
        return
    if x % 2 == 0:  # If 'x' is even, recursively call collatz with 'x' divided by 2.
        collatz(x // 2)
    else:  # If 'x' is odd, recursively call collatz with '3x + 1'.
        collatz(3 * x + 1)

In [10]:
collatz(1)

1

In [11]:
collatz(10)

10
5
16
8
4
2
1

# Question 5
<font color="#FF0000">
    
***
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

binary(0)
0

binary(1)
1

binary(3)
11

binary(9)
1001   
***
    
</font>

In [12]:
def binary(n):
    if n>1:
        # If 'n' is greater than 1, make a recursive call with 'n' divided by 2.
        binary(n//2)
    print(n%2,end='')

In [13]:
binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)

0
1
11
1001

# Question 6
<font color="#FF0000">
    
***
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

infile = open('w3c.html')   
content = infile.read()   
infile.close()   
hp = HeadingParser()   
hp.feed(content)   
W3C Mission Principles   
***
    
</font>

In [14]:
from html.parser import HTMLParser

# Define a custom parser class 'HeadingParser' that inherits from HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False    # Initialize a flag to track if we are inside a heading tag

    # Method to handle the start of an HTML tag
    def handle_starttag(self, tag, attrs):
        # Check if the tag is a heading tag 
        if tag.startswith("h") and tag[1:].isdigit():
            self.in_heading = True    # Set the flag to True to indicate that we are inside a heading tag
    
    # Method to handle the end of an HTML tag
    def handle_endtag(self, tag):
        # Check if we are inside a heading tag and the current tag is a closing heading tag
        if self.in_heading and tag.startswith("h") and tag[1:].isdigit():
            self.in_heading = False   # Set the flag to False to indicate that we are no longer inside a heading tag
    
    # Method to handle text data within HTML tags
    def handle_data(self, data):
        if self.in_heading:
            print(data)     # Print the text data if we are inside a heading tag

infile = open(r'D:\Users\manyue\Downloads\w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
Principles

# Question 7
<font color="#FF0000">
    
***
Implement recursive function webdir() that takes as input:    
a URL (as a string) and non-negative integers depth and indent.    
Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. 
As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
***
    
</font>

In [15]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent=0):
    if depth < 0:
        return

    try:
        response = requests.get(url)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
        print(' ' * indent + url)

        # Extract all anchor tags
        if depth > 0: #for positive depth
            links = soup.find_all('a') # Find and store all Anchor Tags into links
            for link in links:
                href = link.get('href') #retrive href value
                if href and href.startswith('http'): #condition checking for http 
                    webdir(href, depth - 1, indent + 2)

    except requests.exceptions.RequestException as e:
        # Handle request exceptions, e.g., invalid URLs
        print(" " * indent + f"Error accessing {url}: {e}")

In [16]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

Error accessing http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [17]:
webdir('https://www.georgiancollege.ca/', 2, 0)

https://www.georgiancollege.ca/
  Error accessing https://georgianatilac.com/: 403 Client Error: Forbidden for url: https://georgianatilac.com/
  Error accessing https://portal.georgiancollege.ca: 403 Client Error: Forbidden for url: https://georgiancollege.sharepoint.com/sites/student/SitePages/Home.aspx
  https://library.georgiancollege.ca/main
    http://www.georgiancollege.ca/
    http://library.georgiancollege.ca
    http://library.georgiancollege.ca/hours
    http://library.georgiancollege.ca/resources
    https://georgian.primo.exlibrisgroup.com/discovery/search?vid=01OCLS_GEORG:GEORG
    https://library.georgiancollege.ca/er.php
    http://library.georgiancollege.ca/az.php
    http://library.georgiancollege.ca/guides
    http://library.georgiancollege.ca/video_streaming
    http://library.georgiancollege.ca/services
    https://library.georgiancollege.ca/services/atlibrary
    https://bookings.georgiancollege.ca/portal/
    https://library.georgiancollege.ca/services/printing
    https://library.georgiancollege.ca/doingresearch
    https://library.georgiancollege.ca/copyright-at-georgian
    Error accessing https://library.georgiancollege.ca/interlibrary_loan : 404 Client Error: Not Found for url: https://library.georgiancollege.ca/interlibrary_loan%20
    http://library.georgiancollege.ca/services/accessibility
    http://library.georgiancollege.ca/staff_faculty
    http://www.georgiancollege.ca/form/schedule-library-orientation/
    http://library.georgiancollege.ca/staff_faculty/ereserves
    http://library.georgiancollege.ca/oer
    http://library.georgiancollege.ca/lakehead
    http://library.georgiancollege.ca/services/alumni_community
    http://library.georgiancollege.ca/help
    http://library.georgiancollege.ca/writing_centre
    http://library.georgiancollege.ca/tutoring
    http://library.georgiancollege.ca/math_centre
    http://library.georgiancollege.ca/citing
    https://library.georgiancollege.ca/troubleshooting
    https://library.georgiancollege.ca/faqs
    https://library.georgiancollege.ca/troubleshooting
    https://library.georgiancollege.ca/linking/stablelinks
    https://library.georgiancollege.ca/ebookhelp
    https://library.georgiancollege.ca/dboncampus
    https://library.georgiancollege.ca/doingresearch
    http://library.georgiancollege.ca/about
    https://library.georgiancollege.ca/help/contact-academic-success
    https://library.georgiancollege.ca/services/contact-library
    http://library.georgiancollege.ca/about
    http://library.georgiancollege.ca/about/policies
    https://library.georgiancollege.ca/Staff-Directory
    http://www.georgiancollege.ca
    https://library.georgiancollege.ca/
    https://library.georgiancollege.ca/welcome-online
    https://library.georgiancollege.ca/hours
    https://georgian.primo.exlibrisgroup.com/discovery/search?vid=01OCLS_GEORG:GEORG&mode=advanced
    http://library.georgiancollege.ca/hours
    https://library.georgiancollege.ca/citing
    https://library.georgiancollege.ca/az.php
    https://library.georgiancollege.ca/er.php?b=i
    https://web.penjiapp.com/schools/georgian
    https://georgiancollege.libwizard.com/f/submit-a-paper
    https://library.georgiancollege.ca/writing_centre/LanguageHelp
    https://library.georgiancollege.ca/writing_centre
    https://web.penjiapp.com/schools/georgian
    https://web.penjiapp.com/schools/georgian
    https://library.georgiancollege.ca/tutoring
    https://web.penjiapp.com/schools/georgian
    https://library.georgiancollege.ca/math_centre/tools
    https://library.georgiancollege.ca/math_centre
    https://library.georgiancollege.ca/guides
    https://library.georgiancollege.ca/doingresearch/intro
    https://library.georgiancollege.ca/doingresearch/research-help
    https://www.georgiancollege.ca
    https://georgiancollege.libapps.com/libapps/login.php?site_id=351&target64=L2xpYmd1aWRlcy9hZG1pbl9jLnBocD9nPTcxNjUzMiZwPTUxMDkxNzA=
  Error accessing https://portal.georgiancollege.ca: 403 Client Error: Forbidden for url: https://georgiancollege.sharepoint.com/sites/student/SitePages/Home.aspx
  https://info.georgiancollege.ca/StillTimeToApply
    https://www.georgiancollege.ca/future-students/
    https://www.georgiancollege.ca/academics/programs/college-foundations/
    https://www.georgiancollege.ca/academics/programs/college-foundations/
    https://www.georgiancollege.ca/academics/programs/construction-techniques/
    https://www.georgiancollege.ca/academics/programs/construction-techniques/
    https://www.georgiancollege.ca/academics/programs/general-arts-science-liberal-studies-foundation/
    https://www.georgiancollege.ca/academics/programs/general-arts-science-liberal-studies-foundation/
    https://www.georgiancollege.ca/academics/programs/pre-health-sciences/
    https://www.georgiancollege.ca/academics/programs/pre-health-sciences/
    https://www.ontariocolleges.ca/en/colleges/georgian?q=&page=0&by%5BIntakeAvailabilityEnglish%5D%5B0%5D=Open&hFR%5BIntakeStartDateHierarchyMonthNameEnglish.lvl0%5D%5B0%5D=Aug%202023%20-%20Nov%202023%20%28Fall%29%7CSep%202023#programs
    https://www.georgiancollege.ca/careermatch/#take-the-quiz
    https://www.georgiancollege.ca/about-georgian/contact-us/student-recruitment-team/#resources
    https://www.georgiancollege.ca/about-georgian/contact-us/student-recruitment-team/#resources
    https://www.georgiancollege.ca/news-events/all-events/get-to-know-georgian/
    https://www.georgiancollege.ca/news-events/all-events/get-to-know-georgian/
    https://www.georgiancollege.ca/about-georgian/visit-us/campus-tours/
    https://www.georgiancollege.ca/about-georgian/visit-us/campus-tours/
    https://www.georgiancollege.ca/news-events/all-events/phone-appointments/
    https://www.georgiancollege.ca/news-events/all-events/phone-appointments/
    https://www.georgiancollege.ca/about-georgian/contact-us/mailing-list/
    https://www.georgiancollege.ca/about-georgian/contact-us/mailing-list/
    https://www.georgiancollege.ca/future-students/
    https://www.georgiancollege.ca/privacy-policy/
  https://info.georgiancollege.ca/StillTimeToApply
    https://www.georgiancollege.ca/future-students/
    https://www.georgiancollege.ca/academics/programs/college-foundations/
    https://www.georgiancollege.ca/academics/programs/college-foundations/
    https://www.georgiancollege.ca/academics/programs/construction-techniques/
    https://www.georgiancollege.ca/academics/programs/construction-techniques/
    https://www.georgiancollege.ca/academics/programs/general-arts-science-liberal-studies-foundation/
    https://www.georgiancollege.ca/academics/programs/general-arts-science-liberal-studies-foundation/
    https://www.georgiancollege.ca/academics/programs/pre-health-sciences/
    https://www.georgiancollege.ca/academics/programs/pre-health-sciences/
    https://www.ontariocolleges.ca/en/colleges/georgian?q=&page=0&by%5BIntakeAvailabilityEnglish%5D%5B0%5D=Open&hFR%5BIntakeStartDateHierarchyMonthNameEnglish.lvl0%5D%5B0%5D=Aug%202023%20-%20Nov%202023%20%28Fall%29%7CSep%202023#programs
    https://www.georgiancollege.ca/careermatch/#take-the-quiz
    https://www.georgiancollege.ca/about-georgian/contact-us/student-recruitment-team/#resources
    https://www.georgiancollege.ca/about-georgian/contact-us/student-recruitment-team/#resources
    https://www.georgiancollege.ca/news-events/all-events/get-to-know-georgian/
    https://www.georgiancollege.ca/news-events/all-events/get-to-know-georgian/
    https://www.georgiancollege.ca/about-georgian/visit-us/campus-tours/
    https://www.georgiancollege.ca/about-georgian/visit-us/campus-tours/
    https://www.georgiancollege.ca/news-events/all-events/phone-appointments/
    https://www.georgiancollege.ca/news-events/all-events/phone-appointments/
    https://www.georgiancollege.ca/about-georgian/contact-us/mailing-list/
    https://www.georgiancollege.ca/about-georgian/contact-us/mailing-list/
    https://www.georgiancollege.ca/future-students/
    https://www.georgiancollege.ca/privacy-policy/
  http://georgiancollege.uberflip.com/i/1504196-georgian-college-viewbook-2024-2025/
    http://georgiancollege.uberflip.com/i/1504196
    http://georgiancollege.uberflip.com/i/1504196/1
    http://georgiancollege.uberflip.com/i/1504196/95
    http://georgiancollege.uberflip.com/i/1504196/0
    http://georgiancollege.uberflip.com/read/archives/i/66486/1504196
  http://georgiancollege.uberflip.com/i/1504196-georgian-college-viewbook-2024-2025/
    http://georgiancollege.uberflip.com/i/1504196
    http://georgiancollege.uberflip.com/i/1504196/1
    http://georgiancollege.uberflip.com/i/1504196/95
    http://georgiancollege.uberflip.com/i/1504196/0
    http://georgiancollege.uberflip.com/read/archives/i/66486/1504196
  Error accessing https://georgiancollege.sharepoint.com/sites/gcPortal/SitePages/Home.aspx: 403 Client Error: Forbidden for url: https://georgiancollege.sharepoint.com/sites/gcPortal/SitePages/Home.aspx
  Error accessing https://twitter.com/georgiancollege: 400 Client Error: Bad Request for url: https://twitter.com/georgiancollege
  https://www.facebook.com/GeorgianCollege
  http://www.youtube.com/georgianvideos
    https://www.youtube.com/about/
    https://www.youtube.com/about/press/
    https://www.youtube.com/about/copyright/
    https://www.youtube.com/creators/
    https://www.youtube.com/ads/
    https://developers.google.com/youtube
    https://www.youtube.com/about/policies/
    https://www.youtube.com/howyoutubeworks?utm_campaign=ytgen&utm_source=ythp&utm_medium=LeftNav&utm_content=txt&u=https%3A%2F%2Fwww.youtube.com%2Fhowyoutubeworks%3Futm_source%3Dythp%26utm_medium%3DLeftNav%26utm_campaign%3Dytgen
  http://instagram.com/georgiancollege
  https://www.linkedin.com/school/2409/

# Question 8
<font color="#FF0000">
    
***
Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.City Country Season Temperature(C) Rainfall (mm)
***
    
</font>

In [18]:
%load_ext sql
%sql sqlite://

In [19]:
%%sql 
CREATE TABLE IF NOT EXISTS weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
);

 * sqlite://
Done.

[]

In [20]:
%%sql
INSERT INTO weather (City, Country, Season, Temperature, Rainfall)
VALUES
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
12 rows affected.

[]

In [21]:
%%sql
SELECT * FROM weather limit 5

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7)]

In [22]:
# a) All the temperature data.
print("Temperature Data Information")
Temperature = %sql SELECT Temperature FROM weather
print(Temperature)

Temperature Data Information
 * sqlite://
Done.
+-------------+
| Temperature |
+-------------+
|     24.8    |
|     28.4    |
|     27.9    |
|     27.6    |
|     4.2     |
|     8.3     |
|     15.7    |
|     10.4    |
|     13.6    |
|     20.7    |
|     27.7    |
|     22.2    |
+-------------+

In [23]:
# b) All the cities, but without repetition.
print("Information of All the Cities without repetition")
City = %sql SELECT DISTINCT City FROM weather
print(City)

Information of All the Cities without repetition
 * sqlite://
Done.
+--------+
|  City  |
+--------+
| Mumbai |
| London |
| Cairo  |
+--------+

In [24]:
# c) All the records for India.
print("Information of India")
India_Details = %sql SELECT * FROM weather WHERE Country = 'India'
print(India_Details)

Information of India
 * sqlite://
Done.
+--------+---------+--------+-------------+----------+
|  City  | Country | Season | Temperature | Rainfall |
+--------+---------+--------+-------------+----------+
| Mumbai |  India  | Winter |     24.8    |   5.9    |
| Mumbai |  India  | Spring |     28.4    |   16.2   |
| Mumbai |  India  | Summer |     27.9    |  1549.4  |
| Mumbai |  India  |  Fall  |     27.6    |  346.0   |
+--------+---------+--------+-------------+----------+

In [25]:
# d) All the Fall records
print("Information of Fall")
Fall_Season_Info = %sql SELECT * FROM weather WHERE Season = 'Fall'
print(Fall_Season_Info)

Information of Fall
 * sqlite://
Done.
+--------+----------------+--------+-------------+----------+
|  City  |    Country     | Season | Temperature | Rainfall |
+--------+----------------+--------+-------------+----------+
| Mumbai |     India      |  Fall  |     27.6    |  346.0   |
| London | United Kingdom |  Fall  |     10.4    |  218.5   |
| Cairo  |     Egypt      |  Fall  |     22.2    |   4.5    |
+--------+----------------+--------+-------------+----------+

In [26]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
print("The city, country, and season for which the average rainfall is between 200 and 400 millimeters")
Avg_RainFall = %sql SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400
print(Avg_RainFall)

The city, country, and season for which the average rainfall is between 200 and 400 millimeters
 * sqlite://
Done.
+--------+----------------+--------+
|  City  |    Country     | Season |
+--------+----------------+--------+
| London | United Kingdom |  Fall  |
| London | United Kingdom | Winter |
| Mumbai |     India      |  Fall  |
+--------+----------------+--------+

In [27]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
print(" The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
Avg_Temprature = %sql SELECT City, Country, Season FROM weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400
print(Avg_Temprature)

 The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
 * sqlite://
Done.
+--------+----------------+--------+
|  City  |    Country     | Season |
+--------+----------------+--------+
| London | United Kingdom |  Fall  |
| London | United Kingdom | Winter |
| Mumbai |     India      |  Fall  |
+--------+----------------+--------+

In [28]:
# g) The total annual rainfall for Cairo.
print("The total annual rainfall for Cairo")
Annual_Rainfall = %sql SELECT City, SUM(Rainfall) AS Total_Annual_Rainfall FROM weather WHERE City = 'Cairo' GROUP BY City
print(Annual_Rainfall)

The total annual rainfall for Cairo
 * sqlite://
Done.
+-------+-----------------------+
|  City | Total_Annual_Rainfall |
+-------+-----------------------+
| Cairo |          27.6         |
+-------+-----------------------+

In [29]:
# h) The total rainfall for each season.
print("The total rainfall for each season")
Total_Rainfall = %sql SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM weather GROUP BY Season
print(Total_Rainfall)

The total rainfall for each season
 * sqlite://
Done.
+--------+--------------------+
| Season |   Total_Rainfall   |
+--------+--------------------+
|  Fall  |       569.0        |
| Spring | 192.29999999999998 |
| Summer |       1706.5       |
| Winter |       230.1        |
+--------+--------------------+

# Question 9
<font color="#FF0000">
    
***
Suppose list words is defined as follows:

 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

***
    
</font>

In [31]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#Words in Uppercase
Uppercase_Words = [word.upper() for word in words]

#Words in Lowercase
Lowercase_Words = [word.lower() for word in words]

#Length of words
Length = [len(word) for word in words]

#List of information with Uppercase, Lowercase and Word Length
Word_Information = [[word.upper(), word.lower(), len(word)] for word in words]

#Words with 4 or more characters
Long_Words = [word for word in words if len(word) >= 4]

print("Upper-Case")
print(Uppercase_Words)
print("Lower-Case")
print(Lowercase_Words)
print("Length")
print(Length)
print("Information")
print(Word_Information)
print("More-Characters")
print(Long_Words)

Upper-Case
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
Lower-Case
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Length
[3, 5, 5, 3, 5, 4, 3, 4, 3]
Information
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
More-Characters
['quick', 'brown', 'jumps', 'over', 'lazy']